/*/////////////////////////////////////////GENERAL LOOK/////////////////////////////////////////////////*/

body {
    margin: 0;
    font-family: "Helvetica Neue";
}

html, body, main, .page, .frontpage-container, .app-wrapper, .setup-container, .working-area-container, .background-container, .plan-container {
    height: 100%;
}

input:focus, button:focus, select:focus {
    outline: none;
}


/*///////////////////////////////////////////////LOGGED OUT LOOK/////////////////////////////////////////////*/
/*background image with plane*/
.page {
    background-image: url("/back.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*typewriter effect*/
.MyTypist {
    font-size: 100px;
    color:white;
    padding-left: 0.5em;
}

.MyTypist .Cursor {
animation: blink 1s linear infinite;
}

@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/*container where you choose between login and registration*/
.login-registr {
    animation: 3.8s ease fadein;
    width:20%;
    margin: 7em auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 0.5em;
    border-radius: 4px;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

/*buttons leading to registration and login*/
.frontpage-button {
    color: white;
    background: inherit;
    border:none;
    font-size: 2em;
    cursor: pointer;
    margin: 1em;
}

.no-underline {
    text-decoration: none;
}

.frontpage-button:after, .test:after {
    display: block;
    content: "";
    border-bottom: solid 2px white;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}
.frontpage-button:hover:after, .test:hover:after {
    transform: scaleX(0.6);
}

/*forms to actually login and register*/
.login-container, .registration-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:50%;
    margin: 0 auto;
    text-align: center;
    color:white;
}

.registration-container {
    top: 30%;
}

.login-form-container > input, .registration-form-container > input {
    margin: 1em;
    display: block;
    margin: 1em auto;
    border: 0;
    font-size: 1.2em;
}

.login-container > a, .registration-container > a {
    color:white;
    font-size: 18px;
    text-decoration: none;
}

/*buttons that log in or sign up*/
button, .addButton {
    background: linear-gradient(45deg, #fff 50%, #E94F37 50%);
    padding: 8px 16px;
    border-radius: 4px;
    border:none;
    font-size: 16px;
    color:white;
    cursor: pointer;
}

button:after, .addButton:after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, #E94F37 50%, transparent 50%);
  z-index: -1;
}

button,
button:after, .addButton, .addButton:after {
  background-size: 300%;
  background-position: 100%;
  transition: 0.6s;
}

button:hover,
button:hover:after, .addButton:hover, .addButton:hover:after {
  background-position: 0;
  color: #E94F37; /*For IE*/
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////SET UP LOOK//////////////////////////////////////////*/

/*background image*/
.setup-container {
    background: url("/back_setup.jpeg");
    background-size: cover;
}

.setup-middle-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.setup-middle {
    width: 40%;
    /*margin: 0 auto; */
    padding: 1em;
    text-align: center;
    background: rgba(0,0,0, 0.7);
    color:white;
    border-radius: 4px;
}

.setup-middle > h1 {
    font-family: "Homemade Apple";
    font-size: 45px;
}

.searchbar {
    font-size: 16px;
}

.day-selector > p {
    font-size: 20px;
}

select {
    font-size: 16px;
    margin-top: 1em;
}

.setup-sidebar {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    padding: 2em;
}

.popular-cities {
    width: 90%;
    height:50%;
    margin: 0 auto;
    padding:1em;
    text-align: center;
}

.popular-cities > p {
    font-weight: 600;
    font-size: 20px;
}

.popular-city {
    text-align: center;
    padding: 1em;
    cursor: pointer;
}

.logout-setup {
    z-index: 99999;
    width: 50%;
    position: absolute;
    bottom: 15%;
    background: inherit;
    border: 3px solid black;
    margin: 0 auto;
    /* margin-top: 60%; */
    text-align: center;
    padding: 1em;
}

.logout-setup:after {
    display: block;
    content: "";
    border-bottom: solid 2px black;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}
.logout-setup:hover:after {
    transform: scaleX(0.8);
}

.error {
    color:white;
    width: 40%;
    margin: 1em auto;
    border: 2px solid red;
    padding: 1em;
    font-size: 20px;
}


/*///////////////////////////////////////////WORKING_AREA LOOK////////////////////////////////////////*/
.working-area-container, .plan-container {
    overflow:hidden;
}

/*BACKGROUND IMAGE COMING FROM API*/
.background {
    position:absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*////*/

/*to create flex for categories*/
.category-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}

/*category boxes themselves*/
.category {
    /* flex: 0 15%; */
    height: 200px;
    width: 200px;
    z-index: 99;
    position: relative;
    margin: 1em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
}

.black {
    background: rgba(0,0,0, 0.8);
}

.white {
    background: rgba(255, 255, 255, 0.6);
}

/*category logos*/
.icon {
    width: 120px;
}

.category:hover {
    animation: wiggle 1s ease;
    border: none;
}

@keyframes wiggle {
    0% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/*///// WORKING AREA FOOTER/////*/
.footer-wa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0, 0.7);;
    z-index: 1000;
}

.footer-wa h4 {
    color:white;
    position: absolute;
    bottom:0;
    right:0;
    margin-bottom:0;
    padding: 0.5em;
}

.footer-wa .no-underline {
    color:white;
}

/*button to see your activities*/
.plan-message {
    z-index: 99;
    padding: 1em;
    border: 3px solid white;
    color:white;
    margin-bottom: 1em;
}

.plan-message > a {
    color:white;
}

/*LOGOUT WA*/
.logout-wa {
    z-index: 999;
    width: 8%;
    padding: 1em;
    border: 3px solid white;
    margin-bottom: 1em;
    margin-right: 1em;
    text-align: center;
}

.logout-wa .no-underline {
    color: white;
    background: inherit;
}

/*WEATHER*/
.weather-container {
    z-index: 100;
    position: relative;
    color: white;
    text-align: center;
    width: 15%;
    height: 100%;
    border: 3px solid white;
    font-size: 1.1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 1em;
}
.weather {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

.weather-pic {
    position:absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*//////*/

/*/////////SHOWING CATEGORY RESULTS//////////*/
.category-results-container {
    position: absolute;
    z-index: 9999;
    top: 40%;
    left: 50%;
    background: white;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;

}

.all-results {
    position: relative;
    z-index: 999;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%, -50%);
    height: 80%;
    overflow: scroll;
    font-size: 1.2em;
}


.result {
    margin: 1em 4em;
    cursor: pointer;
    text-align: left;
}

.result-info {
    cursor: pointer;
    margin: 0.5em;
    display: inline-block;
}

.addButton {
    display: inline-block;
    /* font-weight: 500; */
    float: right;
}

.moreButton {
    cursor: pointer;
    width: 20%;
    margin: 0 auto;
    z-index: 9999;
    position: relative;
}

.closingButton {
    cursor: pointer;
    margin: 0.5em;
    position:fixed;
    top: 0;
    left:95%;
    font-size: 24px;
    z-index: 99999;
}


/*///////////*/

/*//////////////DETAILS OF THE VENUE//////////*/
.venue-details-container {
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%, -50%);
    width: 80%;
    border: 1px solid black;
    border-radius: 12px;
    overflow: scroll;
}

.venue-details {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.venue-details > p {
    display: inline-block;
}

.venue-details > a {
    text-decoration: none;
    color: black;
}

.venue {
    margin: 2em;
}

.venue > p > span, .venue >span {
    text-decoration: underline;
}

.venue > p {
    display: inline-block;
}

.venue-image {
    display: block;
    height: 20em;
    width: 20em;
    margin: 0 auto;
}

.black {
    color:black;
}
/*//////*/


/*////MENU WHERE YOU SELECT TO WHICH DAY YOU'RE ADDING////*/
.adding-menu {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    height: 50%;
    padding: 1em;
    width: 60%;
    height: 70%;
    text-align: center;
    border: 3px solid black;
}

.day {
    cursor: pointer;
    border: 1px solid black;
    width: 20%;
    margin: 0.4em auto;
    overflow: scroll;
    padding: 0.2em;
}

/*////////POP-UP WHEN YOU SUCCESSFULLY ADD AN ACTIVITY TO YOUR LIST////////*/
.added-activity-container {
    position: absolute;
    z-index: 9999;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #E94F37;
    padding: 2em;
    width: 40%;
    text-align: center;
    border: 3px solid black;
}

.added-activity-container .closingButton {
    width: 0;
}


.addingWarningButton {
    cursor: auto;
    position:absolute;
    top:0;
    width: 100%;
    background: red;
    z-index: 999;
    padding: 1em;
    text-align: center;
}

.no-underline {
    text-decoration: none;
    color:black;
}

/*/////////////////////////////////////////////////////PLAN PAGE///////////////////////////////*/

.plan-container {
    width: 100%;
    overflow: scroll;
}

.plan-container > h1 {
    position: relative;
    z-index: 9999;
    color: white;
    font-family: "Homemade Apple";
    background: rgba(0,0,0, 0.8);
    text-align: center;
    margin-top: 0;
    word-spacing: 0.5em;
}


.backButton {
    z-index: 9999;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
    padding: 1em;
}

break {
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

/*to add flex to the days*/
.day-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
    overflow: scroll;
}

/*days themselves*/
.grouped-day {
    width: 35%;
    background: rgba(0,0,0, 0.8);
    z-index: 99;
    position: relative;
    margin: 2em;
    color: white;
    padding: 1.5em;
    text-align: center;
}


.deleteButton {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    color: #E94F37;
}

.user-activities .deleteButton {
    /* margin: 1em; */
    color: white;
    font-size: 0.8em;
}

.plan-day {
    font-weight: bold;
}


.adding-error {
    position: absolute;
    top:15%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 999999999;
    background: tomato;
    padding: 2em;
    width: 70%;
}


/*/////////////////TO_DO PART/////////////*/

.todo-container {
    width: 50%;
    margin: 0 auto;
}

.todo-container > h1 {
    text-align: center;
    margin: 1em;
}

.todo-container > ul > li {
    margin: 1em;
    font-size: 20px;
}

/*///////SUB_CATEGORIES//////*/

.subcategories-container {
    z-index: 999;
    height: 100%;
    width: 100%;
    margin-top: 2em;
}

.subcategories-food, .subcategories-culture, .subcategories-nightlife, .subcategories-nature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.subcategory {
    /* background: rgba(0,0,0, 0.7); */
    height: 150px;
    width: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.3em;
}

/* .subcategory:hover {
        animation: wiggle-diff 1s ease;
        border: none;
} */

@keyframes wiggle-diff {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(-20deg);
        }
        50% {
            transform: rotate(10deg);
        }
        75% {
            transform: rotate(-5deg);
        }
        100% {
            transform: rotate(0deg);
        }
}


.dinner-options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2em;
    align-items: center;
}

.dinner-options-container > .closingButton {
    position: inherit;
    font-size: 3em;
    text-align: center;
    width: 1%;
    margin:0;
}

.dinner-subcat {
    background: rgba(0,0,0, 0.7);
    height: 80px;
    width: 10%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.3em;
}
