/*////////////////////////////////////////////GENERAL LOOK/////////////////////////////////////////////////*/
html {
    scroll-behavior: smooth;
    overflow: scroll;
}
body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
}

html, body, main, .page, .frontpage-container, .app-wrapper, .setup-container, .working-area-container, .background-container, .plan-container {
    height: 100%;
}

input:focus, button:focus, select:focus {
    outline: none;
}

input {
    border-radius: 10px;
    text-align: center;
}


/*///////////////////////////////////////////////LOGGED OUT LOOK/////////////////////////////////////////////*/
/*background image with plane*/
.page {
    background-image: url("/back.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*typewriter effect*/
.MyTypist {
    font-size: 100px;
    color:white;
    padding-left: 0.5em;
}

.MyTypist .Cursor {
animation: blink 1s linear infinite;
}

@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/*container where you choose between login and registration*/
.login-registr {
    animation: 3.8s ease fadein;
    width:20%;
    margin: 7em auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 0.5em;
    border-radius: 10px;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

/*buttons leading to registration and login*/
.frontpage-button {
    color: white;
    background: inherit;
    border:none;
    font-size: 2em;
    cursor: pointer;
    margin: 1em;
}

.no-underline {
    text-decoration: none;
}

.frontpage-button:after, .test:after {
    display: block;
    content: "";
    border-bottom: solid 2px white;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}
.frontpage-button:hover:after, .test:hover:after {
    transform: scaleX(1);
}

/*forms to actually login and register*/
.login-container, .registration-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width:50%; */
    margin: 0 auto;
    text-align: center;
    color:white;
}

.registration-container {
    top: 30%;
}

.login-form-container > input, .registration-form-container > input {
    margin: 1em;
    display: block;
    margin: 1em auto;
    border: 0;
    font-size: 1.2em;
}

.login-container > a, .registration-container > a {
    color:white;
    font-size: 18px;
    text-decoration: none;
}

/*buttons that log in or sign up*/
button, .addButton, .deleteButton {
    background: linear-gradient(45deg, #fff 50%, #E94F37 50%);
    padding: 8px 20px;
    border-radius: 4px;
    border:none;
    font-size: 16px;
    color:white;
    cursor: pointer;
}

button:after, .addButton:after, .deleteButton:after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, #E94F37 50%, transparent 50%);
  z-index: -1;
}

button,
button:after, .addButton, .addButton:after, .deleteButton, .deleteButton:after {
  background-size: 300%;
  background-position: 100%;
  transition: 0.6s;
}

button:hover,
button:hover:after, .addButton:hover, .addButton:hover:after, .deleteButton:hover, .deleteButton:hover:after {
  background-position: 0;
  color: #E94F37; /*For IE*/
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////SET UP LOOK//////////////////////////////////////////*/

/*background image*/
.setup-container {
    background: url("/back_setup.jpeg");
    background-size: cover;
}

.setup-middle-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.setup-middle {
    width: 40%;
    padding: 1em;
    text-align: center;
    background: rgba(0,0,0, 0.7);
    color:white;
    border-radius: 10px;
}

.setup-middle > h1 {
    font-family: "Homemade Apple";
    font-size: 45px;
}

.searchResults {
    width: 202px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: rgb(40,40,40);
    margin-left: -2px;
}

.results-container {
    width: 203px;
    border-bottom: 1px solid white;
}

.results-container:hover {
    font-weight: 800;
}


.searchbar, .address-selection > input {
    font-size: 16px;
    width: 200px;
    border:0;
    padding: 2px;
}

.day-selector > p, .address-selection > p, .search-container > p {
    font-size: 20px;
}

select {
    width: 200px;
    height: 20px;
    border-bottom: 0px;
    border-radius: 3px;
    font-size: 16px;
    box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, .5);
}


.setup-sidebar {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    padding: 2em;
}

.popular-cities {
    width: 90%;
    height:50%;
    margin: 0 auto;
    padding:1em;
    text-align: center;
}

.popular-cities > p {
    font-weight: 600;
    font-size: 20px;
}

.popular-city {
    text-align: center;
    padding: 1em;
    cursor: pointer;
}

.logout-setup {
    z-index: 99999;
    width: 50%;
    position: absolute;
    bottom: 15%;
    background: inherit;
    border: 3px solid black;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    padding: 1em;
}

.logout-setup:after {
    display: block;
    content: "";
    border-bottom: solid 2px black;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}
.logout-setup:hover:after {
    transform: scaleX(0.8);
}

.greyed {
    background: #A8A8A8;
    color: #696969;
    opacity: 0.7;
}

.greyed:hover {
    color: #696969;
}


/*///////////////////////////////////////////WORKING_AREA LOOK////////////////////////////////////////*/
.working-area-container, .plan-container {
    overflow:hidden;
}

/*BACKGROUND IMAGE COMING FROM API*/
.background {
    position:absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*////*/

/*to create flex for categories*/
.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*includes category boxes and the subcategory list*/
.category-container {
    z-index: 99;
    position: relative;
    margin-top: 1em;
    margin-bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*category boxes themselves*/
.category {
    z-index: 99;
    height: 220px;
    width: 220px;
    position: relative;
    margin: 1em;
    margin-bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
}

.black {
    background: rgba(0,0,0, 0.8);
}

.white {
    background: rgba(169,169,169, 0.6);
}

/*category logos*/
.icon {
    width: 120px;
}

.category:hover {
    animation: wiggle 1s ease;
    border: none;
}

@keyframes wiggle {
    0% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.subcategories-container {
    z-index: 999999;
    width: 240px;
    color:white;
    border-radius: 10px;
    text-align: center;
}

.subcategories-container > .black {
    background: rgba(0,0,0, 0.6);
}

.subcategory:first-child {
    border-radius: 10px 10px 0px 0px;
}

.subcategory:last-child {
    border-radius: 0px 0px 10px 10px;
}


.subcategory, .distance {
    color:white;
    padding: 0.6em;
    cursor: pointer;
}

.distance {
    background: rgba(0,0,0, 0.8);
    border-radius: 10px 10px 0px 0px;
}

.distance > input {
    margin-left: 0.4em;
}

.subcategory:hover {
    font-weight: 800;
}


.dinner-options-container {
    position: absolute;
    z-index: 999999;
    top: 70%;
    left: 98%;
    width: 200px;
}

.dinner-subcat {
    z-index: 999999;
    padding: 0.5em;
    cursor: pointer;
}

.dinner-subcat:first-child {
    border-radius: 10px 10px 0 0;
}

.dinner-subcat:last-child {
    border-radius: 0px 0px 10px 10px;
}

.dinner-subcat:hover {
    font-weight: 800;
}

/*//////////// WORKING AREA FOOTER//////////*/
.footer-wa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0, 0.7);;
    z-index: 1000;
}

.footer-wa h4 {
    color:white;
    position: absolute;
    bottom:0;
    right:0;
    margin-bottom:0;
    padding: 0.5em;
}

.footer-wa .no-underline {
    color:white;
}

/*button to see your activities*/
.plan-message, .changing-location {
    z-index: 99;
    padding: 1em;
    border: 3px solid white;
    color:white;
    margin-bottom: 1em;
    cursor: pointer;
    border-radius: 10px;
}

.plan-message > a {
    color:white;
}

/*LOGOUT WA*/
.logout-wa {
    z-index: 999;
    padding: 1em;
    border: 3px solid white;
    margin-bottom: 1em;
    margin-right: 1em;
    text-align: center;
    border-radius: 10px;
}

.logout-wa .no-underline {
    color: white;
    background: inherit;
}

/*WEATHER*/
.weather-container {
    z-index: 100;
    position: relative;
    color: white;
    text-align: center;
    width: 15%;
    font-size: 1.1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.weather {
    position: relative;
    z-index: 9999999;
}

.weather-pic {
    position:absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.changing-location-popup {
    width: 30%;
    height: 200px;
    position: absolute;
    z-index: 999999999;
    top: -200%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0, 0.9);
    color: white;
    text-align: center;
    border-radius: 10px;
}

.changing-location-popup > .closingButton {
    margin: 0;
    left: 95%;
    font-size: 20px;
}

.changing-location-popup > input {
    height: 20px;
    width: 60%;
    border: none;
}


.changing-location-popup > .addButton {
    margin-left: 1em;
    float: none;
}

.changing-location-popup > .centered {
    margin: 1em auto;
    float: none;

}
/*//////////////////////////////////////*/

/*/////////SHOWING CATEGORY RESULTS//////////*/
.category-results-container {
    position: absolute;
    z-index: 9999;
    top: 40%;
    left: 50%;
    background: white;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 60%;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

.all-results {
    position: relative;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    overflow: scroll;
    font-size: 1.2em;
}

.result {
    margin: 1em 3em;
    cursor: pointer;
    text-align: left;
}

.result-info {
    cursor: pointer;
    margin: 0.5em;
    display: inline-block;
}

.addButton, .deleteButton {
    display: inline-block;
    /* font-weight: 500; */
    float: right;
}

.moreButton {
    cursor: pointer;
    width: 20%;
    margin: 0 auto;
    z-index: 9999;
    position: relative;
}

.closingButton {
    cursor: pointer;
    margin: 0.5em;
    position:fixed;
    top: 0;
    left:95%;
    font-size: 24px;
    z-index: 99999;
}
/*///////////*/

/*//////////////DETAILS OF THE VENUE//////////*/
.venue-details-container {
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    transform: translate(-50%, -50%);
    width: 65%;
    border: 1px solid black;
    border-radius: 12px;
    overflow: scroll;
}

.venue-details {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    padding: 1em;
}

.venue-details > p {
    display: inline-block;
}

.venue-details > a {
    text-decoration: none;
    color: white;
}

.venue {
    margin: 2em;
    text-align: center;
}

.venue > p > span, .venue >span {
    text-decoration: underline;
}

.venue > p {
    display: inline-block;
}

.venue-image {
    display: block;
    height: 20em;
    width: 25em;
    margin: 0 auto;
    border: 2px solid white;
}


/*////MENU WHERE YOU SELECT TO WHICH DAY YOU'RE ADDING////*/
.adding-menu {
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255, 0.95);
    color: black;
    padding: 1em;
    text-align: center;
    border-radius: 10px;
}

.days {
    display: flex;
    justify-content: space-around;
}

.day {
    display: flex;
    background: #A0A0A0;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    padding: 0.2em;
    margin: 0.2em;
}

.day:hover {
    background: #707070;
}

/*////////POP-UP WHEN YOU SUCCESSFULLY ADD AN ACTIVITY TO YOUR LIST////////*/
.added-activity-container {
    position: absolute;
    z-index: 9999;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255, 0.9);
    padding: 2em;
    text-align: center;
    border-radius: 10px;
}

.added-activity-container .closingButton {
    width: 0;
    top: -2%;
    left: 92%;
}

.added-activity-container > p {
    font-size: 24px;
}

.addingWarningButton {
    cursor: auto;
    position:absolute;
    top:0;
    width: 100%;
    background: #E94F37;
    z-index: 999;
    padding: 1em;
    text-align: center;
    color: white;
}

.no-underline {
    text-decoration: none;
    color:black;
}

/*/////////////////////////////////////////////////////PLAN PAGE///////////////////////////////*/

.plan-container {
    width: 100%;
    overflow: scroll;
}

.plan-container > h1 {
    position: relative;
    z-index: 9999;
    color: white;
    font-family: "Homemade Apple";
    background: rgba(0,0,0, 0.8);
    text-align: center;
    margin-top: 0;
    word-spacing: 0.5em;
}

.backButton {
    z-index: 9999;
    text-align: center;
    margin-bottom: 2em;
    padding: 1em;
}

.plan-buttons-container {
    position: relative;
    width: 100%;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: space-around;
}

break {
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

/*to add flex to the days*/
.day-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: scroll;
}

/*days themselves*/
.grouped-day {
    background: rgba(0,0,0, 0.8);
    width: 40%;
    z-index: 99;
    position: relative;
    margin: 2em;
    color: white;
    padding: 1.5em;
    text-align: center;
    border-radius: 10px;
}

.deleteButton {
    cursor: pointer;
}

.user-activities .deleteButton {
    font-size: 0.8em;
    margin-left: 1em;
}

.plan-day {
    font-weight: bold;
}

/*/////////////////TO_DO PART/////////////*/

.todo-container {
    width: 50%;
    margin: 0 auto;
}

.todo-container > h1 {
    text-align: center;
    margin: 1em;
}

.todo-container > ul > li {
    margin: 1em;
    font-size: 20px;
}
