/*GENERAL LOOK*/

body {
    margin: 0;
    font-family: "Helvetica Neue";
}

html, body, main, .page, .frontpage-container, .app-wrapper, .setup-container, .working-area-container, .background-container {
    height: 100%;
}

input:focus, button:focus {
    outline: none;
}

/*LOGGED OUT LOOK*/
.page {
    background-image: url("/back.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.MyTypist {
    font-size: 100px;
    color:white;
    padding-left: 0.5em;
}

.MyTypist .Cursor {
animation: blink 1s linear infinite;
}

@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.login-registr {
    animation: 3.8s ease fadein;
    width: 100px;
    height: 100px;
    width:50%;
    margin: 10em auto;
    text-align: center;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

.frontpage-button {
    color: white;
    background: inherit;
    border:none;
    font-size: 2em;
    cursor: pointer;
    margin: 1em;
}

.no-underline {
    text-decoration: none;

}

.frontpage-button:after {
    display: block;
    content: "";
    border-bottom: solid 2px white;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}
.frontpage-button:hover:after {
    transform: scaleX(0.2);
}

.login-container, .registration-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:50%;
    margin: 0 auto;
    text-align: center;
    color:white;
}


.login-form-container > input, .registration-form-container > input {
    margin: 1em;
    display: block;
    margin: 1em auto;
    border: 0;
    font-size: 1.2em;
}

button {
    background: linear-gradient(45deg, #fff 50%, #E94F37 50%);
    padding: 8px 16px;
    border-radius: 4px;
    border:none;
    font-size: 16px;
    color:white;
    cursor: pointer;
}

button:after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, #E94F37 50%, transparent 50%);
  z-index: -1;
}

button,
button:after {
  background-size: 300%;
  background-position: 100%;
  transition: 0.6s;
}

button:hover,
button:hover:after {
  background-position: 0;
  color: #E94F37; /*For IE*/
}


/*////////////////*/

/*SET UP LOOK*/

.setup-container {
    background: url("/back.jpg");
}

.setup {
    width: 50%;
    margin: 0 auto;
    padding: 1em;

}

.result-info {
    cursor: pointer;
    margin: 0.5em;
}

.error {
    color:red;
    margin: 1em;
    border: 2px solid blue;
}

.popular-cities {
    width: 50%;
    height:50%;
}

/*//////////////////////////WORKING_AREA LOOK/////////////////////////*/
.working-area-container {
    overflow:hidden;
}

/*BACKGROUND IMAGE*/
.background {
    position:absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*////*/

/*to create flex for categories*/
.category-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}

/*category boxes themselves*/
.category {
    /* flex: 0 15%; */
    height: 25%;
    width: 15%;
    background: rgba(0,0,0, 0.8);;
    z-index: 99;
    position: relative;
    margin: 1em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
}

/* .category:first-child {
    animation: move 3s infinite
}

.category:nth-child(2) {
    animation: moveOtherWay 3s infinite
}

@keyframes move{
               0%{
                   transform:translate(0);
               }
               50%{
                   transform:translateY(40px);
               }
           }

@keyframes moveOtherWay{
                0%{
                    transform:translate(0);
                    }
                50%{
                  transform:translateY(-40px);                      }
                      }
            } */


/*////SHOWING RESULTS//////*/
.category-results-container {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    background: pink;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    overflow: scroll;
}

.result {
    margin: 1em;
    cursor: pointer;
}

.moreButton {
    border: 1px solid black;
    cursor: pointer;
}

.closingButton {
    cursor: pointer;
}

/*///////////*/

/*///////DETAILS OF THE VENUE/////*/
.venue-details-container {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    background: aqua;
    transform: translate(-50%, -50%);
    width: 80%;
    /* height:80%; */
}

.venue-image {
    height: 20em;
    width: 20em;
}
/*//////*/

/*WEATHER*/
.weather-container {
    z-index: 99;
    position: absolute;
    right: 0;
    bottom: 0;
    /* background: black; */
    color: white;
    padding: 1em;
    text-align: center;
    height: 20%;
    /* width: 15%; */
    border: 7px solid black;
    font-size: 1.6em;
}
.weather {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 9999999;
}

.weather-pic {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
/*//////*/

/*////MENU WHERE YOU SELECT TO WHICH DAY YOU'RE ADDING////*/
.adding-menu {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    height: 50%;
    padding: 1em;
    width: 60%;
    text-align: center;
}

.day {
    cursor: pointer;
    border: 1px solid black;
}

/*/////WHEN YOU SUCCESSFULLY ADD AN ACTIVITY TO YOUR LIST//////*/
.added-activity-container {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    height: 50%;
    padding: 1em;
    width: 50%;
    height: 20%;
    text-align: center;
}


.addingWarningButton {
    cursor: auto;
    position:absolute;
    top:0;
    width: 100%;
    background: red;
    z-index: 999;
    padding: 1em;
    text-align: center;
}


/*button to see your activities*/
.plan-message {
    position:absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%);
    background: white;
    z-index: 99;
    padding: 2em;
    color: inherit;
    border: 3px solid black;
}

.no-underline {
    text-decoration: none;
    color:black;
}

/*/////////*/

.plan-container {
    padding: 2em;
}

.deleteButton {
    cursor: pointer;
}

.plan-day {
    font-weight: bold;
}


/*LOGOUT*/
.logout {
    z-index: 99999;
    position: absolute;
    left: 0;
    bottom: 0;
    background: white;
    padding: 2em;
    border: 3px solid black;
}
